*.pyc

Semana02/Foro2/envForo2/
Semana02/Foro2/__pycache__/

Semana02/Semana02-Reto4/envReto4/
Semana02/Semana02-Reto4/__pycache__/

Semana02/Semana02-Reto5/envReto4/
Semana02/Semana02-Reto5/envReto5/
Semana02/Semana02-Reto5/__pycache__/


Semana02/Semana02-Reto6/__pycache__/
Semana02/Semana02-Reto6/env6/


Semana03/Foro3/envForo3/
